.top{
	background-image: url(resources/images/nevin.jpg);
	background-size: cover;
	min-height: 100vh;
}
.font{
	color: rgba(200, 90, 130, .6);
}
.page-header{
	font-family: barbarian;
	color: rgba(180, 20, 90, .8);
}
#auto{
	background-color: rgba(180, 100, 50, .6);
}
#page{
	background-color: rgba(180, 100, 100, .4);

}
#color{
	background-image: url(resources/images/nevin.jpg)
}
#up{
	background: url(resources/images/signup.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: rgb(79, 135, 137);

}
#edit{
	background-image: url(resources/images/nevin.jpg);
}
#we{
	background: url(resources/images/Capture.PNG);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: rgba(107, 203, 211, .6);
}
}

/*.top {
	back
}*/