#border{
	border-color: black;
}

#color{
	background-color: rgba(200, 160, 220, .4);
}
.title{
	color: rgba(100, 160, 220, .4);
}
.back{
	background-image: url(data1/images/thing.jpg);
	background-size: cover;
}
h1{
	font-size: 14px;
	font-family: barbarian;
	color: rgba(000, 000, 000, .8);
}
h2{
	font-family: barbarian;
	color: rgba(0, 0, 0, .8);
}
.back{
	font-family: barbarian;
	color: rgba(010, 100, 020, .8);
}
#font{
	font-size: 50px;
	font-family: barbarian;
}