#border{
	border-color: black;
}

#color{
	background-color: rgba(100, 160, 220, .4);
}
.title{
	color: rgba(100, 160, 220, .4);
}
.back{
	background-image: url(data1/images/thing.jpg);
	background-size: cover;
}